.menu {
  background: $default-dark;
  color: $default-color;
  display: flex;
  align-items: center;
  height: 15vh;
  font-size: 1.5rem;

  &__logo {
    display: flex;
    margin-right: auto;
  }

  &__logo-img {
    margin-right: 1rem;
  }

  &__logo-text {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    letter-spacing: 1px;

    h6 {
      color: $primary-color;
      font-style: italic;
    }
  }

  &__location,  &__phone {
    display: flex;
    align-items: flex-start;
    flex: 0 0 25%;
    max-width: 25%;

    svg {
      fill: $neutral-primary;
      height: 2rem;
      margin-right: 1rem;
      margin-top: 3px;
    }
  }

  &__location {
    margin-right: .5rem;
    svg {
      width: 3rem;
    }
  }

  &__phone {

    span {
      color: $primary-color;
    }
  }

}