/* Vars:
   ========================================================================== */


// Size
$mainFontSize: 1.8rem;
$mainFontWeight: 400;
$mainLineHeight: 1.4;

// Main color
$default-color: #ffffff;
$default-dark: #000000;
$primary-color: #bf9037;
$neutral-primary: #7d7d7d;
$secondary-color: #1f090e;